.slider-section {
  padding: 40px 60px;
  background-color: #e5e5e5;
}

 .slider-title {
   font-size: 1.4rem;
   font-weight: 500;
   color: #222;
   font-family: "Helvetica Neue", sans-serif;
   text-align: left;
   margin: 30px 0 20px 0;
 }